.chat-main
  .group-info
    .group-info__current-group
      .group-info__current-group--group-name
        = @group.name
      %ul.group-info__current-group--member-list
        Member:
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group), class: "group-info__edit-group"

  .message-list
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      .input
        = f.text_field :text, class: 'input__text', placeholder: 'type a message'
        .input__mask
          = f.label :image, class: 'input__mask__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'input__mask__hidden'        
        = f.submit 'Send', class: 'input__submit'  